[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pyatom = "*"
flask = "*"
steem = "*"
py-gfm = "*"
uwsgi = "*"
cache-expire = "*"


[dev-packages]

honcho = "*"
